<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <!-- Database connection settings -->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost/bookdb</property>
        <property name="connection.username">root</property>
        <!--<property name="connection.password"></property>-->

        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">2</property>

        <!--
                <property name="c3p0.min_size">5</property>
                <property name="c3p0.max_size">20</property>
                <property name="c3p0.timeout">300</property>
                <property name="c3p0.max_statements">50</property>
                <property name="c3p0.idle_test_period">3000</property>
        -->

        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>

        <!--
        Drop and re-create the database schema on start-up, also try with “update” to keep the
        previous values
        -->

        <property name="hbm2ddl.auto">create</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>

        <mapping resource="akerigan/yafb2lib/persist/hibernate/Author.hbm.xml"/>
        <mapping resource="akerigan/yafb2lib/persist/hibernate/Book.hbm.xml"/>
        <mapping resource="akerigan/yafb2lib/persist/hibernate/CoverPage.hbm.xml"/>
        <mapping resource="akerigan/yafb2lib/persist/hibernate/CustomInfo.hbm.xml"/>
        <mapping resource="akerigan/yafb2lib/persist/hibernate/Description.hbm.xml"/>
        <mapping resource="akerigan/yafb2lib/persist/hibernate/DocumentInfo.hbm.xml"/>
        <mapping resource="akerigan/yafb2lib/persist/hibernate/Image.hbm.xml"/>
        <mapping resource="akerigan/yafb2lib/persist/hibernate/PublishInfo.hbm.xml"/>
        <mapping resource="akerigan/yafb2lib/persist/hibernate/Sequence.hbm.xml"/>
        <mapping resource="akerigan/yafb2lib/persist/hibernate/TextField.hbm.xml"/>
        <mapping resource="akerigan/yafb2lib/persist/hibernate/TitleInfo.hbm.xml"/>

    </session-factory>
</hibernate-configuration>